<button class="row btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
  <i class="fa-solid fa-bars fa-2x"></i>
</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Select Lists to be Shown</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="row">
      <div v-for="list in lists">
        <input class="form-check-input fs-4" type="checkbox" :id="'check-'+list['listinfo'].ListID" :value="list['listinfo'].ListID" v-model="lists_shown">
        <label class="form-check-label fs-4" :for="'check-'+list['listinfo'].ListID">${list['listinfo'].List_name}</label>
      </div>
    </div>
    <div>
      <form action="/logout" method="POST" id="list_add">
        <div class="py-3 text-center">
            <input type="submit" value = "Logout" class="btn btn-outline-danger">
        </div>
    </form>
    </div>
  </div>
</div>