<!DOCTYPE html>
<html>
<head>
    <title> Lists of {{name}}</title>
    <link href="/static/css/main.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>

</head>
<body>
    <div class="row p-3" id="app">
        <p>
            ${msg}
        </p>
        <list class="col p-3 bg-black" id="list-1" >
            <card id="card-1" draggable="true">
                <p>card no 1</p>
            </card>
        </list>
        <list class="col p-3 bg-black" id="list-2" >
            <card id="card-2" draggable="true">
               <p>card no 2</p>
            </card>
        </list>
    </div>
</body>
<script type="text/javascript" src = "{{ url_for('static',filename='vue/vue.js')}}"></script>
</html>