
<div class="row border">
    <input v-model="card.Title" class="col form-control">
    <input v-model="card.Value" class="col form-control">
</div>
<div class="row">
    <input v-model="card.Description" class="col form-control">
</div>
<div class="row">
    <input type="datetime-local" v-model="card.Deadline" class="col form-control">
    <div class="col">
        <button @click="card_edited(card.CardID)" type="button" class="row text-end btn btn-outline-success">
            <i class="fa-solid fa-check"></i>
        </button>
    </div>
</div>
