<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" :data-bs-target="'#createcard-'+list['listinfo'].ListID">
    +
</button>

<div class="modal fade" :id="'createcard-'+list['listinfo'].ListID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Card to ${list['listinfo'].List_name}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form :action="'/'+list['listinfo'].ListID+'/addcard'" method="POST" id="card_add" class="container px-5 text-center">
                <div class="mb-3 row justify-content-center">
                    <label class="col-5 form-label text-lg-end">Time of Creation</label>
                    <div class="col-5">
                        <input type='datetime-local' name='date_created' :value=present_datetime class="form-control" required />
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="mb-3 row justify-content-center">
                    <label class="col-5 form-label text-lg-end">Title</label>
                    <div class="col-5">
                        <input type="text" name="Title" class="form-control" required/>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="mb-3 row justify-content-center">
                    <label class="col-5 form-label text-lg-end">Value</label>
                    <div class="col-5">
                        <input type="number" step="any" name="value" class="form-control" required />
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="mb-3 row justify-content-center">
                    <label class="col-5 form-label text-lg-end">Description</label>
                    <div class="col-5">
                        <input type="text" name="desc" class="form-control"/>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="mb-3 row justify-content-center">
                    <label class="col-5 form-label text-lg-end">Deadline</label>
                    <div class="col-5">
                        <input type='datetime-local' name='deadline' class="form-control" required />
                    </div>
                    <div class="col-2"></div>
                </div>
                
                <div class="py-3 text-center">
                    <input type="submit" value = "Submit" class="btn btn-primary mb-3">
                </div>
            </form>
        </div>
    </div>
    </div>
</div>